USE [master]
GO
/****** Object:  Database [NHOM4_QLCH]    Script Date: 2/7/2026 2:25:07 PM ******/
CREATE DATABASE [NHOM4_QLCH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHOM4_QLCH_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\NHOM4_QLCH.mdf' , SIZE = 590848KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NHOM4_QLCH_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\NHOM4_QLCH.ldf' , SIZE = 312768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHOM4_QLCH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHOM4_QLCH]
GO
/****** Object:  User [QuanLy]    Script Date: 2/7/2026 2:25:08 PM ******/
CREATE USER [QuanLy] FOR LOGIN [QuanLy] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NhanVien]    Script Date: 2/7/2026 2:25:08 PM ******/
CREATE USER [NhanVien] FOR LOGIN [NhanVien] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Role_NV]    Script Date: 2/7/2026 2:25:08 PM ******/
CREATE ROLE [Role_NV]
GO
ALTER ROLE [db_owner] ADD MEMBER [QuanLy]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NhanVien]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NhanVien]
GO
/****** Object:  UserDefinedTableType [dbo].[ChiTietPhieuNhap]    Script Date: 2/7/2026 2:25:08 PM ******/
CREATE TYPE [dbo].[ChiTietPhieuNhap] AS TABLE(
	[MaHH] [varchar](10) NOT NULL,
	[SLNhap] [int] NOT NULL,
	[DonGiaNhap] [money] NOT NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fCheckNCC]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fCheckNCC](@MaNCC CHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @re INT 
	IF NOT EXISTS (SELECT 1 FROM NCC WHERE MaNCC = @MaNCC)
	BEGIN
		SET @re = 1 --NCC không tồn tại
		RETURN @re
	END

	DECLARE @Tinhtrang BIT
	SELECT @Tinhtrang = Tinhtrang FROM NCC WHERE MaNCC = @MaNCC
	IF @Tinhtrang = 0
	BEGIN
		SET @re = 2 --Đã ngừng hợp tác trước đó
		RETURN @re
	END

	SET @re = 0 --NCC đã tồn tại

	RETURN @re
END
GO
/****** Object:  UserDefinedFunction [dbo].[fMaCTPNmoi]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Có module tạo MaCTPN riêng và sẽ gọi ra để truyền vào tham số MaCTPN ở tầng backend.
CREATE   FUNCTION [dbo].[fMaCTPNmoi]()
RETURNS CHAR(15) 
AS
BEGIN
	DECLARE @MaCTPNmax CHAR(15), @MaCTPNnext INT, @MaCTPN CHAR(15) 
	SELECT @MaCTPNmax = MAX(MaCTPN) FROM CTPHIEUNHAP
	IF @MaCTPNmax IS NULL
		SET @MaCTPN = 'CTPN000000001'
	ELSE
	BEGIN
		SET @MaCTPNnext = RIGHT(@MaCTPNmax,11) + 1
		SET @MaCTPN = 'CTPN' + RIGHT('00000000000' + CAST(@MaCTPNnext AS VARCHAR), 9)
	END
	RETURN @MaCTPN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fMaGHHmoi]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fMaGHHmoi]()
RETURNS CHAR(10)
AS
BEGIN
	DECLARE @MaGHHmax CHAR(10), @MaGHHnext INT, @MaGHH CHAR(10)
	SELECT @MaGHHmax = MAX(MaGHH) FROM GIABAN
	IF @MaGHHmax IS NULL
	SET @MaGHH = 'MGHH0001'
	ELSE
	BEGIN
		SET @MaGHHnext = RIGHT(@MaGHHmax, 6) + 1
		SET @MaGHH = 'MGHH' + RIGHT('0000' + CAST(@MaGHHnext AS VARCHAR), 4)
	END
	RETURN @MaGHH
END
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[SoHDB] [char](10) NOT NULL,
	[TongThanhTien] [money] NOT NULL,
	[NgayBan] [date] NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[MaKH] [char](10) NOT NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUBAN]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUBAN](
	[MaCTPB] [char](15) NOT NULL,
	[SLBan] [int] NOT NULL,
	[ThanhTien] [money] NOT NULL,
	[SoHDB] [char](10) NOT NULL,
	[MaHH] [char](10) NOT NULL,
 CONSTRAINT [PK_CTPB] PRIMARY KEY CLUSTERED 
(
	[MaCTPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SoHDB_MaHH] UNIQUE NONCLUSTERED 
(
	[SoHDB] ASC,
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[XemChiTietHoaDonBan]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[XemChiTietHoaDonBan]
AS
SELECT MaCTPB, SLBan, MaHH, ThanhTien, CTB.SoHDB, B.MaNV
FROM CTPHIEUBAN CTB JOIN BAN B ON CTB.SoHDB = B.SoHDB
WHERE MaNV = CAST(SESSION_CONTEXT(N'MaNV') AS CHAR(10))
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[MaCTPN] [char](15) NOT NULL,
	[SLNhap] [int] NOT NULL,
	[DonGiaNhap] [money] NOT NULL,
	[CK] [numeric](3, 2) NULL,
	[GiaSauCK] [money] NOT NULL,
	[ThanhTien] [money] NOT NULL,
	[SoHDN] [char](10) NOT NULL,
	[MaHH] [char](10) NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SoHDN_MaHH] UNIQUE NONCLUSTERED 
(
	[SoHDN] ASC,
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAP]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP](
	[SoHDN] [char](10) NOT NULL,
	[TongTienHang] [money] NOT NULL,
	[ChietKhau] [numeric](3, 2) NULL,
	[ThuKhac] [money] NULL,
	[TongCong] [money] NOT NULL,
	[NoCu] [money] NOT NULL,
	[TongThanhToan] [money] NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[MaNCC] [char](10) NOT NULL,
 CONSTRAINT [PK_NHAP] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[XemChiTietHoaDonNhap]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[XemChiTietHoaDonNhap] 
AS
SELECT MaCTPN, SLNhap, DonGiaNhap, CK, GiaSauCK, ThanhTien, CTN.SoHDN, MaHH, N.MaNV
FROM CTPHIEUNHAP CTN JOIN NHAP N ON CTN.SoHDN = N.SoHDN
WHERE MaNV = CAST(SESSION_CONTEXT(N'MaNV') AS CHAR(10))
GO
/****** Object:  View [dbo].[XemHoaDonBan]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XemHoaDonBan]
AS
SELECT SoHDB, TongThanhTien, NgayBan, MaNV, MaKH
FROM BAN
WHERE MaNV = CAST(SESSION_CONTEXT(N'MaNV') AS CHAR(10))
GO
/****** Object:  View [dbo].[XemHoaDonNhap]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[XemHoaDonNhap]
AS
SELECT SoHDN, TongTienHang, ChietKhau, ThuKhac, TongCong, NoCu, TongThanhToan, NgayNhap, MaNV, MaNCC
FROM NHAP
WHERE MaNV = CAST(SESSION_CONTEXT(N'MaNV') AS CHAR(10))
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaDN] [char](10) NOT NULL,
	[PW_Hash] [varbinary](max) NULL,
	[MaNV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[XemTaiKhoan]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[XemTaiKhoan]
AS
SELECT MaDN, PW_Hash, MaNV
FROM TAIKHOAN
WHERE MaNV = CAST(SESSION_CONTEXT(N'MaNV') AS CHAR(10))
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[SDTNV] [char](10) NOT NULL,
	[DCNV] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[Tinhtrang] [bit] NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SDTNV] UNIQUE NONCLUSTERED 
(
	[SDTNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[XemThongTinCaNhan]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[XemThongTinCaNhan]
AS
SELECT MaNV, TenNV, SDTNV, DCNV, GioiTinh, Tinhtrang
FROM NhanVien
WHERE MaNV = CAST(SESSION_CONTEXT(N'MaNV') AS CHAR(10))
GO
/****** Object:  Table [dbo].[GIABAN]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIABAN](
	[MaGHH] [char](10) NOT NULL,
	[NgayApDung] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
	[MaHH] [char](10) NULL,
	[Giaban] [money] NULL,
 CONSTRAINT [PK_GIABAN] PRIMARY KEY CLUSTERED 
(
	[MaGHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MaHH] [char](10) NOT NULL,
	[TenHH] [nvarchar](100) NOT NULL,
	[DVT] [nvarchar](20) NOT NULL,
	[SL] [int] NOT NULL,
	[MaLoai] [char](10) NULL,
	[HeSoQuyDoi] [int] NOT NULL,
	[Tinhtrang] [bit] NULL,
 CONSTRAINT [PK_HH] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[DCKH] [nvarchar](100) NOT NULL,
	[SDTKH] [char](10) NOT NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SDTKH] UNIQUE NONCLUSTERED 
(
	[SDTKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MaLoai] [char](10) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[Tinhtrang] [bit] NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MaNCC] [char](10) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[SDTNCC] [char](10) NOT NULL,
	[DCNCC] [nvarchar](100) NOT NULL,
	[STKNCC] [varchar](40) NOT NULL,
	[NoHienTai] [money] NOT NULL,
	[Tinhtrang] [bit] NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SDTNCC] UNIQUE NONCLUSTERED 
(
	[SDTNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] ADD  DEFAULT ((0)) FOR [CK]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT ((0)) FOR [HeSoQuyDoi]
GO
ALTER TABLE [dbo].[NHAP] ADD  DEFAULT ((0)) FOR [ChietKhau]
GO
ALTER TABLE [dbo].[NHAP] ADD  DEFAULT ((0)) FOR [ThuKhac]
GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [FK_BAN_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [FK_BAN_KH]
GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [FK_BAN_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [FK_BAN_NV]
GO
ALTER TABLE [dbo].[CTPHIEUBAN]  WITH CHECK ADD  CONSTRAINT [FK_CTPB_BAN] FOREIGN KEY([SoHDB])
REFERENCES [dbo].[BAN] ([SoHDB])
GO
ALTER TABLE [dbo].[CTPHIEUBAN] CHECK CONSTRAINT [FK_CTPB_BAN]
GO
ALTER TABLE [dbo].[CTPHIEUBAN]  WITH CHECK ADD  CONSTRAINT [FK_CTPB_HH] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HANGHOA] ([MaHH])
GO
ALTER TABLE [dbo].[CTPHIEUBAN] CHECK CONSTRAINT [FK_CTPB_HH]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_HH] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HANGHOA] ([MaHH])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_HH]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_NHAP] FOREIGN KEY([SoHDN])
REFERENCES [dbo].[NHAP] ([SoHDN])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_NHAP]
GO
ALTER TABLE [dbo].[GIABAN]  WITH CHECK ADD  CONSTRAINT [FK_GHH_HH] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HANGHOA] ([MaHH])
GO
ALTER TABLE [dbo].[GIABAN] CHECK CONSTRAINT [FK_GHH_HH]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HH_LOAI] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAI] ([MaLoai])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HH_LOAI]
GO
ALTER TABLE [dbo].[NHAP]  WITH CHECK ADD  CONSTRAINT [FK_NHAP_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[NHAP] CHECK CONSTRAINT [FK_NHAP_NCC]
GO
ALTER TABLE [dbo].[NHAP]  WITH CHECK ADD  CONSTRAINT [FK_NHAP_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NHAP] CHECK CONSTRAINT [FK_NHAP_NV]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [CHK_NgayBan] CHECK  (([NgayBan]<=getdate()))
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [CHK_NgayBan]
GO
ALTER TABLE [dbo].[CTPHIEUBAN]  WITH CHECK ADD  CONSTRAINT [CHK_SLBan] CHECK  (([SLBan]>(0)))
GO
ALTER TABLE [dbo].[CTPHIEUBAN] CHECK CONSTRAINT [CHK_SLBan]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CHK_SLNhap] CHECK  (([SLNhap]>(0)))
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [CHK_SLNhap]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [CHK_DVT] CHECK  (([DVT]=N'cây' OR [DVT]=N'cuộn' OR [DVT]=N'chiếc' OR [DVT]=N'lốc' OR [DVT]=N'thùng' OR [DVT]=N'túi' OR [DVT]=N'lọ' OR [DVT]=N'hộp' OR [DVT]=N'cái' OR [DVT]=N'bộ' OR [DVT]=N'tờ' OR [DVT]=N'quyển'))
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [CHK_DVT]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [CHK_SL] CHECK  (([SL]>=(0)))
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [CHK_SL]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CHK_LEN_SDTKH] CHECK  ((len([SDTKH])=(10)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CHK_LEN_SDTKH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CHK_SDTKH] CHECK  (([SDTKH] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CHK_SDTKH]
GO
ALTER TABLE [dbo].[NCC]  WITH CHECK ADD  CONSTRAINT [CHK_LEN_SDTNCC] CHECK  ((len([SDTNCC])=(10)))
GO
ALTER TABLE [dbo].[NCC] CHECK CONSTRAINT [CHK_LEN_SDTNCC]
GO
ALTER TABLE [dbo].[NCC]  WITH CHECK ADD  CONSTRAINT [CHK_SDTNCC] CHECK  (([SDTNCC] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[NCC] CHECK CONSTRAINT [CHK_SDTNCC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CHK_GT] CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CHK_GT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CHK_LEN_SDTNV] CHECK  ((len([SDTNV])=(10)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CHK_LEN_SDTNV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CHK_SDTNV] CHECK  (([SDTNV] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CHK_SDTNV]
GO
ALTER TABLE [dbo].[NHAP]  WITH CHECK ADD  CONSTRAINT [CHK_NgayNhap] CHECK  (([NgayNhap]<=getdate()))
GO
ALTER TABLE [dbo].[NHAP] CHECK CONSTRAINT [CHK_NgayNhap]
GO
/****** Object:  StoredProcedure [dbo].[ChackKhachHang]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[ChackKhachHang]( @SDTKH char (10),@TenKH Nvarchar (50),@DCKH Nvarchar(100), @MaKH char(10) out)
as
begin
	if @SDTKH=''
	begin
		set @MaKH = 'KH00000000'
		return 
	end
	else 
	begin
		if exists (select 1 from Khachhang where @SDTKH=SDTKH)
		begin
			set @MaKH= (select makh from KHACHHANG where @SDTKH=SDTKH)
			return 
		end
		else 
		begin
			DECLARE @MaxMaKH VARCHAR(10)
			DECLARE @SoMoi INT
			
			-- Lấy mã khách hàng lớn nhất
			SET @MaxMaKH = (SELECT MAX(MaKH) FROM KhachHang)
			    -- Cắt lấy phần số, chuyển thành INT, tăng lên 1
			SET @SoMoi = CAST(RIGHT(@MaxMaKH, 8) AS INT) + 1
			SET @MaKH = 'KH' + RIGHT('00000000' + CAST(@SoMoi AS VARCHAR), 8)
			insert into KHACHHANG(MaKH,TenKH,DCKH,SDTKH) values (@MaKH,@TenKH,@DCKH,@SDTKH)
			return 
		end
	end	
end
GO
/****** Object:  StoredProcedure [dbo].[dump_TK]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[dump_TK]
AS
BEGIN
	DECLARE @i INT = 0
	WHILE @i < (SELECT COUNT(*) FROM NHANVIEN)
	BEGIN
		INSERT INTO TAIKHOAN (MaDN, PW_Hash, MaNV)
		SELECT SDTNV, HASHBYTES( 'SHA2_256', '123'), MaNV
		FROM NHANVIEN
		SET @i+=1
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_NhanVien]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Insert_NhanVien]
    @TenNV NVARCHAR(50),
    @SDTNV CHAR(10),
    @DCNV NVARCHAR(100),
    @GioiTinh NVARCHAR(10),
    @MaNV CHAR(10) OUTPUT,
    @ret BIT OUTPUT
AS
BEGIN
    SET @ret = 1; -- Mặc định thất bại

    BEGIN TRANSACTION;

    -- Check 1: Trùng SDT
    IF EXISTS (SELECT 1 FROM NHANVIEN WHERE SDTNV = @SDTNV)
    BEGIN
        ROLLBACK TRANSACTION;
        RETURN;
    END

    -- Check 2: Đầu số điện thoại hợp lệ
    IF LEFT(@SDTNV,3) NOT IN (
        '032', '033', '034', '035', '036', '037', '038', '039', '096', '097', '098', -- Viettel
        '070', '076', '077', '078', '079', '090', '093', '089',                     -- MobiFone
        '081', '082', '083', '084', '085', '091', '094', '088',                     -- VinaPhone
        '056', '058', '059',                                                        -- Vietnamobile
        '099'                                                                        -- Gmobile
    )
    BEGIN
        ROLLBACK TRANSACTION;
        RETURN;
    END

    -- Tạo mã nhân viên mới
    DECLARE @LastMaNV CHAR(10), @NextMaNV CHAR(10);
    SELECT @LastMaNV = MAX(MaNV) FROM NHANVIEN;

    IF @LastMaNV IS NULL
        SET @MaNV = 'NV001';
    ELSE
    BEGIN
        SET @NextMaNV = 'NV' + RIGHT('000' + CAST(CAST(RIGHT(@LastMaNV, 8) AS INT) + 1 AS VARCHAR), 3);
        SET @MaNV = @NextMaNV;
    END

    -- Thêm dữ liệu
    INSERT INTO NHANVIEN (MaNV, TenNV, SDTNV, DCNV, GioiTinh,Tinhtrang)
    VALUES (@MaNV, @TenNV, @SDTNV, @DCNV, @GioiTinh,1);
	IF @@ROWCOUNT <= 0
    BEGIN
        ROLLBACK TRANSACTION;
        RETURN;
    END

    COMMIT TRANSACTION;
    SET @ret = 0; -- Thành công
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemTK]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_ThemTK] (@MaDN CHAR(10), @PW VARCHAR, @MaNV CHAR(10), @re INT OUT)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM TAIKHOAN WHERE MaDN = @MaDN)
		SET @re = 1 --MÃ ĐĂNG NHẬP ĐÃ TỒN TẠI
	INSERT INTO TAIKHOAN(MaDN, PW_Hash, MaNV) VALUES 
	(@MaDN, 
	HASHBYTES('SHA2_256', CONCAT(@PW,
									CHAR(65 + ABS(CHECKSUM(NEWID())) % 26),
									CHAR(97 + ABS(CHECKSUM(NEWID())) % 26),
									CHAR(33 + ABS(CHECKSUM(NEWID())) % 15))),
	@MaNV)
	 IF @@ROWCOUNT <= 0
		SET @re = 2 --INSERT THẤT BẠI
	 ELSE SET @re = 0 --INSERT THÀNH CÔNG
	
END
GO
/****** Object:  StoredProcedure [dbo].[spCheckNCC]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--MODULE KIỂM TRA SỰ TỒN TẠI CỦA NCC
CREATE   PROC [dbo].[spCheckNCC] (@TenNCC NVARCHAR(50), @SDTNCC CHAR(10), @re INT OUT)
AS
BEGIN
	IF NOT EXISTS (SELECT 1 FROM NCC WHERE TenNCC = @TenNCC AND @SDTNCC = SDTNCC)
	BEGIN
		SET @re = 1 --NCC không tồn tại
		RETURN
	END

	DECLARE @Tinhtrang BIT
	SELECT @Tinhtrang = Tinhtrang FROM NCC WHERE TenNCC = @TenNCC AND @SDTNCC = SDTNCC
	IF @Tinhtrang = 0
	BEGIN
		SET @re = 2 --Đã ngừng hợp tác trước đó
		RETURN
	END

	SET @re = 0 --NCC đã tồn tại
END
GO
/****** Object:  StoredProcedure [dbo].[spThemMoiHoaDon]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[spThemMoiHoaDon]
    @NgayNhap DATE,
    @MaNCC VARCHAR(10),
    @MaNV VARCHAR(10),
    @TongTienHang MONEY,
    @ChietKhau NUMERIC(3, 2),
    @ThuKhac MONEY,
    @TongCong MONEY,
    @NoCu MONEY,
    @TongThanhToan MONEY,
    @ChiTietNhap AS dbo.ChiTietPhieuNhap READONLY, -- Khai báo tham số là UDTT và READONLY (chỉ cho phép đọc dữ liệu)
	@re INT OUT
AS
BEGIN
    -- Bắt đầu Transaction để đảm bảo tính nhất quán dữ liệu
    BEGIN TRANSACTION

    -- 1. Thêm mới thông tin vào bảng NHAP
	--Tạo mã hoá đơn nhập mới
	DECLARE @SoHDNmax CHAR(10), @SoHDNnext INT, @SoHDN CHAR(10)
	SELECT @SoHDNmax = MAX(SoHDN) FROM NHAP
	IF @SoHDNmax IS NULL --Nếu chưa có hoá đơn nào thì SoHDN = HDN0000001
		SET @SoHDN = 'HDN0000001'
	ELSE
	BEGIN
		SET @SoHDNnext = RIGHT(@SoHDNmax,7) + 1 
		SET @SoHDN = 'HDN' + RIGHT('0000000' + CAST(@SoHDNnext AS VARCHAR), 7)
	END


	--Thêm giá trị vào bảng NHAP
    INSERT INTO NHAP (SoHDN, TongTienHang, ChietKhau, ThuKhac, TongCong, NoCu, TongThanhToan, NgayNhap, MaNCC, MaNV)
    VALUES (@SoHDN, @TongTienHang, @ChietKhau, @ThuKhac, @TongCong, @NoCu, @TongThanhToan, @NgayNhap, @MaNCC, @MaNV);
	IF @@ROWCOUNT <=0 
		BEGIN
			SET @re = 1 --Lỗi nhập hoá đơn
			ROLLBACK TRANSACTION
			RETURN  
		END

    -- 2. Thêm mới thông tin vào bảng CTPHIEUNHAP từ UDTT
    INSERT INTO CTPHIEUNHAP (MaCTPN, SoHDN, MaHH, SLNhap, DonGiaNhap)
    SELECT dbo.fMaCTPNmoi(), @SoHDN, ct.MaHH, ct.SLNhap, ct.DonGiaNhap
    FROM @ChiTietNhap ct
	IF @@ROWCOUNT <= 0
		BEGIN
			SET @re = 2 --Lỗi nhập chi tiết hoá đơn
			ROLLBACK TRANSACTION
			RETURN 
		END

    -- 3. Cập nhật số lượng hàng hóa trong bảng HANGHOA từ UDTT
    UPDATE HANGHOA
    SET SL = SL + ct.SLNhap*HeSoQuyDoi
    FROM HANGHOA h
    JOIN @ChiTietNhap ct ON h.MaHH = ct.MaHH
	IF @@ROWCOUNT <= 0
		BEGIN
			SET @re = 3 --Lỗi cập nhật số lượng
			ROLLBACK TRANSACTION
			RETURN 
		END

    -- 4. Cập nhật giá bán cũ (Ngừng hiệu lực giá bán cũ và thêm giá bán mới)
    -- Cập nhật ngày kết thúc giá bán cũ cho từng hàng hóa
    UPDATE GIABAN
    SET NgayKetThuc = DATEADD(DAY, -1, @NgayNhap)
    WHERE MaHH IN (SELECT MaHH FROM @ChiTietNhap)
    AND (NgayKetThuc IS NULL OR NgayKetThuc >= @NgayNhap) 
	IF @@ROWCOUNT <= 0
		BEGIN
			SET @re = 4 --Lỗi cập nhật ngày kết thúc giá bán cũ
			ROLLBACK TRANSACTION
			RETURN 
		END
    -- Thêm giá bán mới cho từng hàng hóa vào GIABAN
    INSERT INTO GIABAN (MaGHH, MaHH, GiaBan, NgayApDung, NgayKetThuc)
    SELECT dbo.fMaGHHmoi(), ct.MaHH, (ct.DonGiaNhap / HeSoQuyDoi) * 1.3, @NgayNhap, NULL
    FROM @ChiTietNhap AS ct JOIN HANGHOA h ON ct.MaHH = h.MaHH
   
	IF @@ROWCOUNT <= 0
		BEGIN
			SET @re = 5 --Lỗi thêm giá bán mới
			ROLLBACK TRANSACTION
			RETURN 
		END

    -- 5. Cập nhật nợ của nhà cung cấp trong bảng NCC
    UPDATE NCC
    SET NoHienTai = NoHienTai + (@TongCong + @NoCu - @TongThanhToan)
    WHERE MaNCC = @MaNCC
	IF @@ROWCOUNT <= 0
		BEGIN
			SET @re = 6 --Lỗi cập nhật nợ NCC
			ROLLBACK TRANSACTION
			RETURN 
		END

    -- Nếu tất cả các thao tác thành công, COMMIT TRANSACTION
    COMMIT TRANSACTION
    SET @re = 0 -- Trả về 0 nếu thành công
END
GO
/****** Object:  StoredProcedure [dbo].[spThemNCC]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[spThemNCC] 
		@TenNCC NVARCHAR(50),
		@SDTNCC CHAR(10),
		@DCNCC NVARCHAR(100),
		@STK VARCHAR(20), 
		@TenNH VARCHAR(20),
		@re INT OUT
AS
BEGIN
	DECLARE @STKNCC VARCHAR(40) = @STK + '_' + @TenNH,
			@MaNCC CHAR(10),
			@NextMaNCC CHAR(10)
	--Tạo MaNCC tiếp theo
	SELECT @MaNCC = MAX(MaNCC) FROM NCC
	IF @MaNCC IS NULL
	SET @MaNCC = 'NCC0001'
	ELSE
	SET @NextMaNCC = 'NCC' + RIGHT('0000' + CAST(RIGHT(@MaNCC,7) + 1 AS VARCHAR),4) 
	
	INSERT INTO NCC(MaNCC, TenNCC, SDTNCC, DCNCC, STKNCC, NoHienTai, Tinhtrang) 
			 VALUES(@NextMaNCC, @TenNCC, @SDTNCC, @DCNCC, @STKNCC, 0, 1)
	IF @@ROWCOUNT <= 0
	SET @re = 1 --Lỗi thêm mới NCC
	ELSE SET @re = 0 --Thêm mới thành công
END
GO
/****** Object:  StoredProcedure [dbo].[spXoaNCC]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--MODULE XOÁ NCC
CREATE   PROC [dbo].[spXoaNCC] (@MaNCC CHAR(10), @re INT out)
AS
BEGIN
	BEGIN TRANSACTION
	DECLARE @NoHienTai MONEY
	SELECT @NoHienTai = NoHienTai FROM NCC WHERE MaNCC = @MaNCC 
	IF @NoHienTai > 0
	BEGIN
		SET @re = 1 --Còn nợ không thể xoá
		ROLLBACK TRANSACTION
		RETURN
	END

	UPDATE NCC
	SET Tinhtrang = 0 --Đánh dấu không hợp tác với NCC này nữa
	WHERE MaNCC = @MaNCC 

	IF @@ROWCOUNT <= 0
	BEGIN
		SET @re = 2 --Lỗi xoá NCC
		ROLLBACK TRANSACTION
	END
	ELSE
		BEGIN
			SET @re = 0 --Thành công
			COMMIT TRANSACTION
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SuaMatKhauCaNhan]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SuaMatKhauCaNhan]
    @MaNV CHAR(10), @PW VARCHAR(10), @re INT OUT
AS
BEGIN
   -- Kiểm tra xem người dùng có quyền sửa mật khẩu của chính họ không
    IF @MaNV = CAST(SESSION_CONTEXT(N'MaNV') AS CHAR(10))
    BEGIN
        -- Nếu đúng, cho phép cập nhật
        UPDATE TAIKHOAN
		SET PW_Hash = HASHBYTES('SHA2_256', @PW)
		WHERE MaNV = @MaNV

		IF @@ROWCOUNT > 0
		SET @re = 0 --THÀNH CÔNG
	END
	ELSE SET @re = 1 --Không có quyền sửa mật khẩu của người khác
    
END
GO
/****** Object:  StoredProcedure [dbo].[SuaThongTinCaNhan]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SuaThongTinCaNhan]
    @MaNV CHAR(10),
    @TenNV NVARCHAR(50),
    @SDTNV CHAR(10),
    @DCNV NVARCHAR(100),
    @GioiTinh NVARCHAR(10),
	@re INT out
AS
BEGIN
    -- Kiểm tra xem người dùng có quyền sửa thông tin của chính họ không
    IF @MaNV = CAST(SESSION_CONTEXT(N'MaNV') AS CHAR(10))
    BEGIN
        -- Nếu đúng, cho phép cập nhật
        UPDATE NhanVien
        SET 
            TenNV = @TenNV,
            SDTNV = @SDTNV,
            DCNV = @DCNV,
            GioiTinh = @GioiTinh
        WHERE MaNV = @MaNV
		IF @@ROWCOUNT >0
			SET @re = 0 --Thành công
    END
    ELSE SET @re = 1 --không có quyền sửa thông tin của người khác
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATENHAP]    Script Date: 2/7/2026 2:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UPDATENHAP](@SOHDN VARCHAR (10))
AS
BEGIN
	IF EXISTS (SELECT 1 FROM NHAP WHERE SoHDN = @SOHDN)
	BEGIN
		DECLARE @TONGTIENHANG MONEY
		SET @TONGTIENHANG = (SELECT SUM(THANHTIEN) FROM CTPHIEUNHAP WHERE SoHDN = @SOHDN)
		UPDATE NHAP
		SET TongTienHang=@TONGTIENHANG,TongCong=@TONGTIENHANG,TongThanhToan=@TONGTIENHANG
		WHERE SoHDN = @SOHDN
		IF @@ROWCOUNT>0
		BEGIN
			PRINT 'CAP NHAT THANH CONG'
		END
		ELSE PRINT'CAP NHAT KHONG THANH CONG ---------------------------------------------------------------------'
	END
	ELSE 
	BEGIN
	PRINT @SOHDN
	PRINT 'kHONG TIM THAY SO HOA DON NHAP======================================================================'
	END
END
GO
USE [master]
GO
